@import url('https://fonts.googleapis.com/css?family=Oswald:300|Roboto+Condensed:300,300i|Roboto:300,300i,400,500,500i&display=swap&subset=cyrillic,latin-ext');
html {
	padding: 0;
	margin: 0;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.3em;
	color: white;
	background: url(../img/bg.png) #252525 repeat-y center;
	background-size: cover;
	/*font-family: "Helvetica Neue", Helvetica, sans-serif;*/
	font-family: Oswald,"Franklin Gothic Book","Segoe UI Semilight",-apple-system,"Helvetica Neue",Arial,sans-serif;}

body {
	padding: 0;
	margin: 0;
	height: 100vh; }

header {
	display: block;
	background-color: #1d1d1d;
	vertical-align: middle;
	position: sticky;
	padding: .5em .5em;
	top: 0; }

	header .status {
		display: inline-block;
		vertical-align: middle;
		width: .8em;
		height: .8em;
		border-radius: 50%;
		background: red; }

		header .status.online {
			background: green; }

	header .btn {
		display: inline-block;
		vertical-align: middle;
		width: 2.5em;
		height: 2.5em;
		margin-right: .5em;
		border: 1px solid #1f1f1f;
		border-radius: 50%;
		box-shadow: 0 1px 3px rgba(0,0,0,.2);
		background-color: #333;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 80%;
		text-align: center;
		text-decoration: none; }

		header .btn.home {
			background-image: url(../img/icons/ws/control_building_empty.svg); }
		header .btn.msg {
			background-image: url(../img/icons/ws/message_attention.svg); }
		header .btn.stat {
			background-image: url(../img/icons/ws/time_statistic.svg); }
		header .btn.media {
			background-image: url(../img/icons/ws/it_television.svg); }

.cols {
	display: flex; }
	.cols > * {
		padding: 0 .5em;
		flex: 1; }
@media (max-width: 800px) {
	.cols {
		display: block; }
}

#modules {
	display: none;
}

.clock {
	text-align: center;
	padding: 1em 0; }

	.clock .watch {
		width: auto;
		display: inline-block;
		margin: 0; }

	.clock .day {
		padding-top: .5em; }

.weather-forecast {}

	.weather-forecast .weather {
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		min-height: 12em; }

		.weather-forecast .weather .humi {
			text-align: right; }
		.weather-forecast .weather .wind {
			text-align: right; }
		.weather-forecast .weather .temp {
			font-weight: bold;
			text-shadow:
				-1px -1px 0 #000,
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
			font-size: 3em;
			line-height: 3em; }
			.weather-forecast .weather .temp a {
				color: white;
				text-decoration: none; }
		.weather-forecast .weather .city {
			font-weight: bold;
			text-align: center; }
		.weather-forecast .weather .cond {
			text-align: center; }

	.weather-forecast .forecast {
		border-top: 1px dotted #808080;
		margin-top: 1em;
		padding-top: 1em;
		text-align: center;
		display: flex; }

		.weather-forecast .forecast > .day {
			flex: 1; }

			.weather-forecast .forecast .day .img {
				height: 5em;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain; }

@media (max-width: 800px) {
	h1.title {
		text-align: center; }
}

.index-floor {
	padding: 0; }

	.index-floor .index-floor-row {
		display: flex;
		font-size: 1.6em;
		align-items: center;
		padding: .1em 0; }

		.index-floor .index-floor-row > a {
			display: block;
			text-decoration: none;
			color: white;
			flex: 1; }

		.index-floor .index-floor-row .index-floor-row-status .temp {
			display: inline-block;
			color: white;
			text-decoration: none;
			vertical-align: middle;
			font-size: .5em; }


.icon:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin-right: .2em;
	width: 1.6em;
	height: 1.6em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain; }

	.icon.living-room:before {
		background-image: url(../img/icons/ws/scene_livingroom.svg); }
	.icon.kitchen:before {
		background-image: url(../img/icons/ws/scene_dinner.svg); }
	.icon.corridor:before {
		background-image: url(../img/icons/ws/scene_hall.svg); }
	.icon.toilet:before {
		background-image: url(../img/icons/ws/scene_toilet_alternat.svg); }
	.icon.tambour:before {
		background-image: url(../img/icons/ws/scene_corridor.svg); }
	.icon.boiler-room:before {
		background-image: url(../img/icons/ws/scene_stove.svg); }
	.icon.garage:before {
		background-image: url(../img/icons/ws/fts_garage.svg); }
	.icon.bedroom:before {
		background-image: url(../img/icons/ws/scene_sleeping.svg); }
	.icon.children-room:before {
		background-image: url(../img/icons/ws/scene_childs_room.svg); }
	.icon.cabinet:before {
		background-image: url(../img/icons/ws/scene_office.svg); }
	.icon.bathroom:before {
		background-image: url(../img/icons/ws/scene_bath.svg); }
	.icon.wardrobe:before {
		background-image: url(../img/icons/ws/scene_dressing_room.svg); }
	.icon.front:before {
		background-image: url(../img/icons/ws/control_building_outside.svg); }
	.icon.move:before {
		background-image: url(../img/icons/or/message_presence_active.png); }
	.icon.heater:before {
		background-image: url(../img/icons/or/sani_heating.png); }
	.icon.light:before {
		background-image: url(../img/icons/or/light_light.png); }

.index-floor-row-status .icon:before {
	margin-right: 0em;
	width: 1.2em;
	height: 1.2em; }