	<div class="cols">
		<div class="col1">
			<script>home.add('.col1', 'clock', 'Clock');</script>
			<script>home.add('.col1', 'weather', 'Weather');</script>
		</div>
		<div>
			<h1 class="title">1 этаж</h1>
			<div class="index-floor">
				<div class="index-floor-row">
					<a href="#" class="icon living-room">Гостинная</a>
					<div class="index-floor-row-status">
						<a href="#" class="icon move"></a>
						<a href="#" class="icon heater"></a>
						<a href="#" class="icon light"></a>
						<a href="#" class="temp">22.5°C</a>
					</div>
				</div>
				<div class="index-floor-row">
					<a href="#" class="icon kitchen">Кухня</a>
				</div>
				<div class="index-floor-row">
					<a href="#" class="icon corridor">Коридор</a>
				</div>
				<div class="index-floor-row">
					<a href="#" class="icon toilet">Туалет</a>
				</div>
				<div class="index-floor-row">
					<a href="#" class="icon tambour">Тамбур</a>
				</div>
				<div class="index-floor-row">
					<a href="#" class="icon boiler-room">Котельная</a>
				</div>
				<div class="index-floor-row">
					<a href="#" class="icon garage">Гараж</a>
				</div>
			</div>
		</div>
		<div>
			<h1 class="title">2 этаж</h1>
			<div class="index-floor">
				<div class="index-floor-row">
					<a href="#" class="icon bedroom">Спальня</a>
				</div>
				<div class="index-floor-row">
					<a href="#" class="icon children-room">Детская</a>
				</div>
				<div class="index-floor-row">
					<a href="#" class="icon cabinet">Кабинет</a>
				</div>
				<div class="index-floor-row">
					<a href="#" class="icon bathroom">Ванная</a>
				</div>
				<div class="index-floor-row">
					<a href="#" class="icon wardrobe">Гардероб</a>
				</div>
			</div>
			<h1 class="title">Улица</h1>
			<div class="index-floor">
				<div class="index-floor-row">
					<a href="#" class="icon front">Перед домом</a>
				</div>
			</div>
		</div>
	</div>
