	<div class="cols">
		<div class="col1">
			<script>home.add('.col1', 'clock', 'Clock');</script>
			<script>home.add('.col1', 'weather', 'Weather');</script>
		</div>
		<div>2</div>
		<div>3</div>
	</div>
