<header>
    <a href="#" class="btn home"></a>
    <a href="#" class="btn msg"></a>
    <a href="#" class="btn stat"></a>
    <a href="#" class="btn media"></a>
    <div class="status"></div>
</header>