<!DOCTYPE html>
<html lang="en">
{% include 'layout/html/head.twig' %}
<body>
{% include 'layout/blocks/header.twig' %}
{{ content|raw }}
{% include 'layout/blocks/footer.twig' %}
{% include 'layout/html/foot.twig' %}
</body>
</html>